*{
    padding: 0px;
    margin: 0px;
}

nav{
    display: flex;
    flex-direction: row;
    background-color: teal;
    width: 100vw;
    height: 10vh;
    position: fixed;
    transition: 0.2s;
}

.navDown{
    height: 20vh;
}

.showNavItems{
    background-color: turquoise;
}

nav div{
    background-color: transparent;
    width: 25vw;
    transition: 0.2s;
}

div #wrapper{
    display: grid;
    grid-template-areas:
    'he'
    'se'
    ;
}

header{
    background-color: turquoise;
    height: 100vh;
    grid-area: he;
}

section #flex_wrapper{
    grid-area: se;
    display: flex;
    flex-direction: row;
}

article{
    width: 100vw;
    height: 50vh;
    background-color: turquoise;
}

footer{
    width: 100vw;
    height: 10vh;
    background-color: teal;
    overflow: hidden;
}

@media screen and (min-width: 1000px){
}